/hring/src/bin/*
!/hring/src/bin/workload_list
!/hring/src/bin/config_qos.txt
/mono/*
/hring/src/results/*
*.log
/result/*
*.out
/minbd/*
*.pyc
Makefile*
*.py~
/Mono/*
/hring/src/.DS_Store
.DS_Store
/hring/src/Script/carpool/
/.vs/Repos/v15/.suo
/.vs/noctest/v15/.suo
/.vs/slnx.sqlite
/.vs/noctest/v15/Server/sqlite3
